
backend/src/manage/node_modules/
backend/src/document/node_modules/

frontend/.idea/

backend/.terraform/

backend/build/

backend/.terraform.lock.hcl

backend/junk.txt

backend/terraform.tfvars

backend/terraform.tfstate

backend/terraform.tfstate.backup

